#container {
  margin: 25px;
}
h2 {
  font: bold;
  font-family: fantasy;
}

#container div, button {
  margin-top: 10px;
  font-family: fantasy;
}

#sukupuoli {
  display: block;
  height: 25px;
  width: 100px;
  border: 2px solid blue;

}